@import '../../../global.scss';


.trending-cont {
    max-width: 100%;
    height: 350px;
    overflow: hidden;
    overflow-x: scroll;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.trend-art {
    height: 100%;
    border: 1px solid $color--e5-grey;
    margin-right: 10px;
    border-radius: 5px;
}
.image-hold {
    width: 240px;
    height: 45%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.cont-hold {
    height: 55%;
    padding: 5px;
    box-sizing: border-box;
    text-align: left;
    @include flex-alignment(space-between, flex-start, column);
}

@include mobile {
    .trend-art {
        font-size: 14px;
    }
}